.chakras_Corona {
  background-image: linear-gradient(269deg, #f086ee 0%, #f086ee 24%, #FFF 100%);
  height: 884px;
  display: block;
}
.chakras_Corona h2 {
  font-size: 20px;
  color: #484537;
  padding: 35px 10px 0px 10px;
}
.chakras_Corona p {
  font-size: 12px;
  width: 208px;
  padding: 40px 0px 0px 10px;
  display: flex;
}

.chakras_Tercer_ojo {
  background-image: linear-gradient(269deg, #2a47a3 0%, #2a47a3 24%, #FFF 100%);
  height: 884px;
  display: block;
}
.chakras_Tercer_ojo h2 {
  font-size: 20px;
  color: #484537;
  padding: 35px 10px 0px 10px;
}
.chakras_Tercer_ojo p {
  font-size: 12px;
  width: 208px;
  padding: 40px 0px 0px 10px;
  display: flex;
}

.Chakra_Laringeo {
  background-image: linear-gradient(269deg, #82c6eb 0%, #82c6eb 24%, #FFF 100%);
  height: 884px;
  display: block;
}
.Chakra_Laringeo h2 {
  font-size: 20px;
  color: #484537;
  padding: 35px 10px 0px 10px;
}
.Chakra_Laringeo p {
  font-size: 12px;
  width: 208px;
  padding: 40px 0px 0px 10px;
  display: flex;
}

.Chakra_del_Plexo_Cardiaco {
  background-image: linear-gradient(269deg, #82c6eb 0%, #82c6eb 24%, #FFF 100%);
  height: 884px;
  display: block;
}
.Chakra_del_Plexo_Cardiaco h2 {
  font-size: 20px;
  color: #484537;
  padding: 35px 10px 0px 10px;
}
.Chakra_del_Plexo_Cardiaco p {
  font-size: 12px;
  width: 208px;
  padding: 40px 0px 0px 10px;
  display: flex;
}

.Chakra_del_Plexo_Cardiaco {
  background-image: linear-gradient(269deg, #67c68e 0%, #67c68e 24%, #FFF 100%);
  height: 884px;
  display: block;
}
.Chakra_del_Plexo_Cardiaco h2 {
  font-size: 20px;
  color: #484537;
  padding: 35px 10px 0px 10px;
}
.Chakra_del_Plexo_Cardiaco p {
  font-size: 12px;
  width: 208px;
  padding: 40px 0px 0px 10px;
  display: flex;
}

.Chakra_del_Plexo_Solar {
  background-image: linear-gradient(269deg, #fdd06b 0%, #fdd06b 24%, #FFF 100%);
  height: 884px;
  display: block;
}
.Chakra_del_Plexo_Solar h2 {
  font-size: 20px;
  color: #484537;
  padding: 35px 10px 0px 10px;
}
.Chakra_del_Plexo_Solar p {
  font-size: 12px;
  width: 208px;
  padding: 40px 0px 0px 10px;
  display: flex;
}

.Chakra_Sexual {
  background-image: linear-gradient(269deg, #f7b072 0%, #f7b072 24%, #FFF 100%);
  height: 884px;
  display: block;
}
.Chakra_Sexual h2 {
  font-size: 20px;
  color: #484537;
  padding: 35px 10px 0px 10px;
}
.Chakra_Sexual p {
  font-size: 12px;
  width: 208px;
  padding: 40px 0px 0px 10px;
  display: flex;
}

.Chakra_Raiz {
  background-image: linear-gradient(269deg, #e67177 0%, #e67177 24%, #FFF 100%);
  height: 884px;
  display: block;
}
.Chakra_Raiz h2 {
  font-size: 20px;
  color: #484537;
  padding: 35px 10px 0px 10px;
}
.Chakra_Raiz p {
  font-size: 12px;
  width: 208px;
  padding: 40px 0px 0px 10px;
  display: flex;
}

@media screen and (max-width: 576px) {
  .chakras_Corona {
    height: 556px;
  }
  .chakras_Corona h2 {
    padding: 0px 103px 0px 0px;
  }
  .chakras_Corona p {
    font-size: 15px;
    width: 0px;
    padding: 40px 0px 0px 0px;
    display: contents;
  }
  .chakras_Tercer_ojo {
    height: 556px;
  }
  .chakras_Tercer_ojo h2 {
    padding: 0px 103px 0px 0px;
  }
  .chakras_Tercer_ojo p {
    font-size: 15px;
    width: 0px;
    padding: 40px 0px 0px 0px;
    display: contents;
  }
  .Chakra_Laringeo {
    height: 556px;
  }
  .Chakra_Laringeo h2 {
    padding: 0px 103px 0px 0px;
  }
  .Chakra_Laringeo p {
    font-size: 15px;
    width: 0px;
    padding: 40px 0px 0px 0px;
    display: contents;
  }
  .Chakra_del_Plexo_Cardiaco {
    height: 556px;
  }
  .Chakra_del_Plexo_Cardiaco h2 {
    padding: 0px 103px 0px 0px;
  }
  .Chakra_del_Plexo_Cardiaco p {
    font-size: 15px;
    width: 0px;
    padding: 40px 0px 0px 0px;
    display: contents;
  }
  .Chakra_del_Plexo_Solar {
    height: 556px;
  }
  .Chakra_del_Plexo_Solar h2 {
    padding: 0px 103px 0px 0px;
  }
  .Chakra_del_Plexo_Solar p {
    font-size: 15px;
    width: 0px;
    padding: 40px 0px 0px 0px;
    display: contents;
  }
  .Chakra_Sexual {
    height: 556px;
  }
  .Chakra_Sexual h2 {
    padding: 0px 103px 0px 0px;
  }
  .Chakra_Sexual p {
    font-size: 15px;
    width: 0px;
    padding: 40px 0px 0px 0px;
    display: contents;
  }
  .Chakra_Raiz {
    height: 556px;
  }
  .Chakra_Raiz h2 {
    padding: 0px 103px 0px 0px;
  }
  .Chakra_Raiz p {
    font-size: 15px;
    width: 0px;
    padding: 40px 0px 0px 0px;
    display: contents;
  }
  .Chackras_flex {
    display: contents;
  }
  .Position_signo_chakra {
    padding: 0px 0px 0px 185px;
  }
}
.Chackras_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Position_signo_chakra {
  padding: 0px 0px 0px 10px;
}

.Position_signo_chakra_corazon {
  padding: 0px 0px 0px 38px;
}

/*
@for $i from 1 through 7 {
    .chakras_Corona:{
        background-image: nth($colores_chakras, $i );
        @include  chakras(nth($espacios_medidas,23),
                          nth($display_list,2));
        h2{
            @include chakras_h2(nth($espacios_medidas,7), 
                                nth($colores,2),  
                                nth($padding_list,2));
          p{
            @include chakras_p(nth($espacios_medidas,7), 
                               nth($espacios_medidas,3),  
                               nth($padding_list,1),
                               nth($display_list,1));
          }
        }    
    }
}*/
* {
  margin: 0px;
  padding: 0px;
}

#Fondo_principal {
  border-top-style: none;
  background-repeat: none;
  background-size: cover;
  background-image: linear-gradient(275deg, #ca70e2 0%, #ca70e2 24%, #FFF 100%);
}

.header_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 124px;
}

h1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

body header nav ul li {
  font-size: 50px;
  text-decoration: none;
  margin: 10px 20px;
}
body header nav ul li a {
  text-decoration: none;
}

.nav_detalles {
  padding: 0px;
  font-size: 30px;
  font-weight: var(--bs-nav-link-font-weight);
  color: rgba(95, 85, 9, 0.65);
  text-decoration: none;
  font-family: brandon-grot-w01-light, brandon-grot-w05-light, sans-serif;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.icon_header {
  width: 84px;
  height: 103px;
  padding-top: 35px;
}

.h1_text {
  padding-top: 50px;
}

@media screen and (max-width: 576px) {
  body header nav ul li {
    font-size: 50px;
    text-decoration: none;
    margin: -5px 20px;
  }
  .nav_detalles {
    padding: 0px;
    font-size: 20px;
    font-weight: var(--bs-nav-link-font-weight);
    color: rgba(95, 85, 9, 0.65);
    text-decoration: none;
    font-family: brandon-grot-w01-light, brandon-grot-w05-light, sans-serif;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
}
footer {
  background-color: rgba(183, 53, 215, 0.7);
  padding: 20px;
  height: 190px;
}

@media screen and (max-width: 576px) {
  .footer_mapa {
    display: none;
  }
  .logo_principal {
    display: none;
  }
  footer {
    background-color: rgba(183, 53, 215, 0.7);
    padding: 20px;
    height: 256px;
  }
  footer .footer_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
  }
  footer .footer_altura_links {
    height: 40px;
    margin: 0px 0px 0px 135px;
    padding: 0px 84px 0px 0px;
  }
}
.footer_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 67px;
  justify-content: space-between;
}

.footer_icons_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 37px;
}

.footer_datos_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;
}

.footer_datos_flex a {
  font-size: 12px;
}

.footer_datos_p_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer_p_datos {
  height: 10px;
  width: 10px;
}

.footer_des {
  font-size: 15px;
}

.footer_altura_links {
  height: 60px;
  padding: 0px;
  margin: 0px;
}

.reiki {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reiki_web {
  display: block;
}

.reiki_mobile {
  display: none;
}

@media screen and (max-width: 576px) {
  .reiki_web {
    display: none;
  }
  .reiki_mobile {
    display: block;
  }
}
p {
  font-family: brandon-grot-w01-light, brandon-grot-w05-light, sans-serif;
  letter-spacing: 0.05em;
}

.main_incio {
  display: flex;
}

.parro_flex {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.parro_flex p {
  padding: 10px 10px;
}

.Terapias_position {
  display: flex;
  justify-content: space-around;
}

.Imagen_redonda {
  border-radius: 150px;
  width: 256px;
}

.Imagen_position {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  margin: 0px;
}

.text_center {
  display: flex;
  justify-content: center;
  padding: 0px 145px 0px 0px;
}

.video_oculto {
  display: none;
}

.video_oculto {
  display: block;
}

.text_center_hierbas {
  padding: 0px 0px 0px 2px;
  margin: 0px 20px;
}

.image_center_hierbas {
  margin: 0px 103px 0px 0px;
}

.Chica_masaje {
  display: flex;
}

.image_transform {
  transition: all 2s;
}

.image_transform:hover {
  transform: scale(2);
}

.video {
  padding: 142px 0px 60px 244px;
}

.text_comment {
  font-size: 12px;
}

.descripcion_personal {
  width: 280px;
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .video_oculto {
    display: none;
  }
  .text_center_hierbas {
    padding: 0px;
    margin: 0px;
  }
  .image_center_hierbas {
    margin: 0px;
  }
  .text_center {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .Chica_masaje {
    display: none;
  }
  .text_comment {
    font-size: 15px;
  }
  .descripcion_personal {
    width: 476px;
    font-size: 12px;
  }
}
.Texto_terapia {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.Titulos {
  font-size: 50px;
  font-family: brandon-grot-w01-light, brandon-grot-w05-light, sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
}

.parrafos_textos {
  padding: 50px;
}

i {
  color: #00e003;
  font-size: 60px;
  position: fixed;
  right: 20px;
  top: 570px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.Terapias_logo_terapia {
  padding: 0px 0px 0px 460px;
}

/*# sourceMappingURL=style.css.map */
